body {
    padding-bottom: 30px;
}
h1,
h2,
p {
    font-family: sans-serif;
    text-align: center;
}

.App {
    height: 100vh;
    width: 100vw;
}

.header-search {
    max-height: 20vh;
}

#recurse-map {
    height: 75vh;
}

button {
    font-size: inherit;
    font-family: inherit;
}
input {
    font-size: inherit;
    font-family: inherit;
}
html {
    font-size: calc(1em + 1vw);
}
